<%include header.ejs%>
<h2>Welcome! We are exited you are interested in our website's services!</h2>
<h4><p>To access our services please
    <form METHOD="POST">
        <button type="submit" formaction="/register">Register</button> or
        <button type="submit" formaction="/login">Login</button>
    </form>
</p>
</h4>
<%include footer.ejs%>